/* Coolors Exported Palette - https://coolors.co/56ae47-78bc6a-94b6a6-62b354-f6f7f5 */

/* CSS HEX */
--green-ryb: #56AE47ff;
--bud-green: #78BC6Aff;
--cambridge-blue: #94B6A6ff;
--bud-green-2: #62B354ff;
--cultured: #F6F7F5ff;

/* CSS HSL */
--green-ryb: hsla(111, 42%, 48%, 1);
--bud-green: hsla(110, 38%, 58%, 1);
--cambridge-blue: hsla(152, 19%, 65%, 1);
--bud-green-2: hsla(111, 38%, 52%, 1);
--cultured: hsla(90, 11%, 96%, 1);

/* SCSS HEX */
$green-ryb: #56AE47ff;
$bud-green: #78BC6Aff;
$cambridge-blue: #94B6A6ff;
$bud-green-2: #62B354ff;
$cultured: #F6F7F5ff;

/* SCSS HSL */
$green-ryb: hsla(111, 42%, 48%, 1);
$bud-green: hsla(110, 38%, 58%, 1);
$cambridge-blue: hsla(152, 19%, 65%, 1);
$bud-green-2: hsla(111, 38%, 52%, 1);
$cultured: hsla(90, 11%, 96%, 1);

/* SCSS RGB */
$green-ryb: rgba(86, 174, 71, 1);
$bud-green: rgba(120, 188, 106, 1);
$cambridge-blue: rgba(148, 182, 166, 1);
$bud-green-2: rgba(98, 179, 84, 1);
$cultured: rgba(246, 247, 245, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #56AE47ff, #78BC6Aff, #94B6A6ff, #62B354ff, #F6F7F5ff);
$gradient-right: linear-gradient(90deg, #56AE47ff, #78BC6Aff, #94B6A6ff, #62B354ff, #F6F7F5ff);
$gradient-bottom: linear-gradient(180deg, #56AE47ff, #78BC6Aff, #94B6A6ff, #62B354ff, #F6F7F5ff);
$gradient-left: linear-gradient(270deg, #56AE47ff, #78BC6Aff, #94B6A6ff, #62B354ff, #F6F7F5ff);
$gradient-top-right: linear-gradient(45deg, #56AE47ff, #78BC6Aff, #94B6A6ff, #62B354ff, #F6F7F5ff);
$gradient-bottom-right: linear-gradient(135deg, #56AE47ff, #78BC6Aff, #94B6A6ff, #62B354ff, #F6F7F5ff);
$gradient-top-left: linear-gradient(225deg, #56AE47ff, #78BC6Aff, #94B6A6ff, #62B354ff, #F6F7F5ff);
$gradient-bottom-left: linear-gradient(315deg, #56AE47ff, #78BC6Aff, #94B6A6ff, #62B354ff, #F6F7F5ff);
$gradient-radial: radial-gradient(#56AE47ff, #78BC6Aff, #94B6A6ff, #62B354ff, #F6F7F5ff);